 <!DOCTYPE html>
<html>
<head>
<title>title</title>
</head>
<body>
if loggedIn
    <p>Bejelentkezve: loggedIn</p>
else
    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>
    <a href="/register">regisztráció</a>
    <a href="/login">bejelentkezés</a>
   
/if
</body>
</html> 