<form method="POST"  action="/register">
<input name="name" id="name" type="text" placeholder="user[username]" required>
<input name="pass" type="password" placeholder="user[password]" required>
<input type="submit" value="Submit">
</form>